<md-toolbar color="primary">
    Home Teacher
</md-toolbar>
<div class="app-content">
    <md-card style="width: 370px; margin: auto;">
        <md-card-title>Sign Up</md-card-title>
        <form (ngSubmit)="signup()" #loginForm="ngForm">
            <md-card-content align="center">
                <md-input-container>
                    <input mdInput id="email" type="email"
                           placeholder="Email"
                           required
                           [(ngModel)]="email" name="email"
                    >
                </md-input-container>
                <md-input-container>
                    <input mdInput type="password" id="password"
                           required
                           placeholder="Password"
                           [(ngModel)]="password" name="password"
                    >
                </md-input-container>
            </md-card-content>
            <md-card-actions align="center">
                <button md-raised-button type="submit" [disabled]="!loginForm.form.valid">Submit</button>
                <button md-raised-button type="button" (click)="cancel()">Cancel</button>
            </md-card-actions>
        </form>
    </md-card>
</div>
